@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body background="~/image/H4.jpg">
<p>
    <font color="orange"> This is website is made by group5(Assignment2).<br></font>
    Yash Patel<br>
    Jatinpal Singh<br>
    Navish Chauhan<br>
    Sahejpreet Singh<br>
    Harjot Singh
    

</p>
</body>
