@{
    ViewBag.Title = "About";
}
<font color="orange"> <h2>@ViewBag.Title.</h2></font>
<font color="orange"> <h3>@ViewBag.Message</h3></font>
<body background="~/image/H4.jpg">
<p>
    <font color="orange"> This is website is made by group5(Assignment2).<br></font>
    <font color="orange">Yash Patel<br></font>
    <font color="orange">Jatinpal Singh<br></font>
    <font color="orange">Navish Chauhan<br></font>
    <font color="orange">Sahejpreet Singh<br></font>
    <font color="orange">Harjot Singh</font>
    

</p>
</body>
