@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    This is website is made by group5(Assignment2).
    Yash Patel
    Jatinpal Singh
    Navish Chauhan
    Sahejpreet Singh
    Harjot Singh

</p>
