@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<body background="~/image/h6.jpg">
    <address>
        1 Georgian Rd<br />
        Barrie, ON<br />
        <abbr title="Phone">P:</abbr>
        123 456 7890
    </address>
    <address>
        <strong>Email:</strong>   <a href="mailto:Support@example.com">Group5@example.com</a><br />
    </address>
    </body>