@{
    ViewBag.Title = "Contact";
}
<font color="orange">  <h2>@ViewBag.Title.</h2></font>
      <font color="orange"> <h3>@ViewBag.Message</h3></font>
<body background="~/image/H4.jpg">
<address>
    <font color="orange">  1 Georgian Rd<br /></font>
   <font color="orange">  Barrie, ON<br /></font>
   <font color="orange">  <abbr title="Phone">P:</abbr></font>
   <font color="orange">  123 456 7890</font>
</address>

<address>
  <font color="orange">   <strong>Email:</strong>   <a href="mailto:Support@example.com">Group5@example.com</a><br /></font>
</address>
</body>
