@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body background="~/image/h6.jpg">



    <img src="~/image/MC-enthusiasts-logo.png" />
    <div class="jumbotron">
        <h1>Motorcycle Inventory Tracker</h1>
        <h2><center>Welcome to our website</center></h2>
        <h3><center>Click Motorcycle Details for cool Motorcycles</center></h3>
    </div>


    <div class="row body-cont">
    </div>
</body>